@tailwind base;
@tailwind components;
@tailwind utilities;

.fa-cart-shopping{
    @apply text-xl absolute right-0 top-0 -translate-x-full translate-y-[85%]
}
.cart-items-count{
    @apply  w-5 h-5  flex justify-center items-center rounded-full bg-blue-950 text-white absolute -top-2 -right-2 font-extralight text-xs
}
.heading{
    @apply text-sm text-center  md:text-base 
}
legend{
    @apply text-[13px] font-semibold mb-2
}
.input-container{
    @apply relative mb-2 
}
.input-field{
    @apply w-full bg-transparent border-b-[1px] border-gray-300 pb-1 focus:outline-none
}
.label-input-field{
    @apply text-gray-500 pb-1 absolute left-0 bottom-0 transition-all
}
.underliner{
    transform: scaleX(0);
    @apply  bg-blue-950 absolute h-[2px] bottom-0 w-full  transition-all 
}
.select-field{
   @apply pb-1 bg-transparent border-b-[1px] border-gray-300 focus:outline-none
}


input:focus ,.select-field:focus,
input:not(:placeholder-shown)  {

  & + label{
    transform: translateY(-120%);
    color:black;
    font-size: small;
    font-weight: 400;
  }
  & ~ .underliner{
    transform: scaleX(1);
}

}

#use-address:checked{

    & + label {
        background-color: navy;
    }
    &  ~ .add-address{
        display: block;
    }
}

@media (width > 768px){
    form{
        @apply max-w-[1200px] mx-auto grid grid-cols-2 gap-4 pb-36
    }
    .payment-section button{
        @apply ml-6 mt-0 py-1 px-10 relative text-left w-fit bg-white text-blue-950 border-2 border-blue-950
    }
}
